<div class="row">
  <div class="col-4">
    <select class="form-control" [(ngModel)]="selectedTeam" (change)="teamSelection()">
      <option *ngFor="let team of teamList" [ngValue]="team.team_api_id">{{team.team_long_name}}</option>
    </select>
  </div>
</div>
<br>
<div class="row" *ngIf="matches">
  <div class="col-12">
    <h5>Matches played details of <strong>{{matches[0].team_name}}</strong> team over the years</h5>
    <br>
  </div>
</div>

<div class="row">
  <div class="col-1"></div>
  <div class="col-11">
    <div #myBarGraph></div>
  </div>

  
</div>